<div id="addSubCategory">
    <div class="container left-gap-250">
        <div class="col m-5">
            <div class="dropdown mb-3">
                <select class="btn btn-primary dropdown-toggle" id="select-category">
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Sub Category Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Sub Category Name" id="sub-category" name="Sub Category Name">
            </div>
            <button id="sub-category-button" class="btn btn-primary">Add</button>
        </div>
    </div>
</div>
