<div id="addCategory">
    <div class="container left-gap-250">
        <div class="col m-5">
            <form>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Category Name</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Category Name" id="usr" name="Category Name">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Category Name Alias</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Category Name Alias" id="usr" name="Category Name Alias">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
        </div>
    </div>
</div>
