<div id="addCategory">
    <div class="container left-gap-250">
        <div class="col m-5">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Category Name</span>
              </div>
              <input type="text" class="form-control" placeholder="Category Name" id="category-name" name="Category Name">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Icon Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Icon Name" id="icon-name" name="Icon Name">
            </div>
            <button type="submit" class="btn btn-primary" id="add-category">Add</button>
        </div>
    </div>
</div>
