<div id="addSubSubCategory">
    <div class="container left-gap-250">
        <div class="col m-5">
                <div class="">
                <div class="dropdown mb-3">
                  <select class="btn btn-primary dropdown-toggle" id="select-category">
                  </select>
                </div>
                <div class="dropdown mb-3">
                  <select class="btn btn-primary dropdown-toggle" id="select-sub-category">
                  </select>
                </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Sub Category Name Alias</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Sub Sub Category Name" id="sub-sub-category" name="Sub Sub Category Name">
                </div>
                <button id="sub-sub-category-button" class="btn btn-primary">Add</button>
        </div>
    </div>
</div>
