<div id="getCategories">
    <div class="container left-gap-250">
        <div class="col m-5">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Sub Category</th>
                            <th>Sub Sub Category</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr>
                                <td>Category 1</td>
                                <td>Sub Category 1</td>
                                <td>Sub Sub Category 1</td>
                            </tr>
                            <tr>
                                <td>Category 2</td>
                                <td>Sub Category 2</td>
                                <td>Sub Sub Category 2</td>
                            </tr>
                            <tr>
                                <td>Category 3</td>
                                <td>Sub Category 3</td>
                                <td>Sub Sub Category 3</td>
                            </tr>
                        </tbody>
                </table>
        </div>
    </div>
</div>
