<div id="getCategories">
    <div class="container left-gap-250">
        <div class="col m-5">
                <table class="table table-striped" id="category-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Aactions</th>
                        </tr>
                    </thead>
                        <tbody>
                        </tbody>
                </table>
        </div>
    </div>
</div>
